<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1" name="viewport">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="<%= style %>" />
<link rel="icon" href="<%= icon %>" type="image/x-icon" />
