.bar {
	@include container();
	.bar-body{
		position: relative;
		border-radius: 1px;
		background: #191919;
		background-image: linear-gradient(to top, rgba(31,31,31,0.9) 0%, rgba(41,41,41,0.9) 100%);
		border: 1px solid rgba(46, 46, 46, .361);
		margin-bottom: 24px;
		//padding: 12px 22px 6px;
		padding: 0px 22px;
	}
	.preview-data{
		display: block;
		@include row();
		.preview-item{
			@include col-3();
			width: 36%;
			text-align: right;
			padding-top: 12px;
			padding-bottom: 6px;
			&.mod-reverse{
				text-align: left;
				.preview-img{
					float: left;
					margin: 0 25px 0 0;
				}
			}
			.preview-item-box{
				display: inline-block;
				.preview-title-holder{
					display: block;
					font-family: $font-family-bold-italic;
					font-size: 24px;
					color: #e5e5e5;
					text-transform: uppercase;
					margin-top: 6px;
					margin-bottom: 8px;
				}
				.preview-location-text{
					padding: 0 10px;
					color: #999999;
					font-size: 15px;
				}
			}
			.preview-img{
				display: inline-block;
				float: right;
				margin: 0 0 0 25px;
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
		.preview-time{
			@include col-3();
			width: 28%;
			padding-top: 12px;
			padding-bottom: 11px;
			text-align: center;
			background-color: rgba(15, 15, 15, .18);
			min-height: 94px;
			.preview-time-val{
				color: #999999;
				font-size: 15px;
				display: block;
				margin-top: 4px;
				> span{
					color: #e5e5e5;
					font-size: 21px;
					> span{
						color: #999999;
					}
				}
			}
			.preview-time-event{
				font-size: 15px;
				color: #999999;
				line-height: 2.5;
			}
			.preview-time-sign{
				font-family: $font-family-italic;
				font-size: 35px;
				color: #e5c232;
				margin-top: 8px;
				display: inline-block;
				position: relative;
				&::after, &::before{
					content: "";
					display: block;
					position: absolute;
					left: -56px;
					top: 45%;
					width: 36px;
					height: 1px;
					background: #3d3d3d;
				}
				&::before{
					left: auto;
					right: -56px;
					top: 45%;
				}
			}
		}
	}
	@media screen and (max-width: 960px) {
		.preview-data .preview-item .preview-item-box .preview-title-holder{
			font-size: 1.1em;
		}
		.preview-data .preview-item .preview-img{
			max-width: 55px;
		}
	}
	@media screen and (max-width: 780px) {
		.preview-data .preview-item .preview-item-box .preview-title-holder{
			font-size: 1em;
		}
		.preview-data .preview-item {
			.preview-img{
				max-width: 35px;
				margin: 0 10px 0 0;
			}
			.mod-reverse .preview-img{
				margin: 0 10px 0 0;
			}
		}
		.preview-data{
			.preview-item{
				position: relative;
				.preview-item-box .preview-title-holder{
					padding-top: 60px;
				}
				.preview-img{
					max-width: 50px;
					position: absolute;
					top: 0px;
					right: 10px;
				}
				&.mod-reverse{
					.preview-img{
						right: auto;
						left: 10px;
					}
				}
			}
		}
	}
	.preview-btn{
		@include btn();
		margin: 0 auto;
		font-size: 15px;
		border-radius: 1px;
		background-image: linear-gradient( 90deg, rgb(34,81,122) 0%, rgb(43,102,153) 100%);
		color: rgb(255, 255, 255);
		margin: 8px auto;
		border: 0px solid #2e2e2e;
		font-weight: 100;
	}
}
