.content-container {
	@include container();
	> section{
		@include row();
		> section{
			@include col-2();
			@media screen and (max-width: 780px) {
				@include col-1();
			}
		}
		> .left{
			float: right;
		}
		> .right{
			float: left;
		}
		> .auto{
			@include col-1();
			float: none;
		}
	}
}

@media screen and (max-width: 960px) {
	.content-container  {
		width: 100%;
	}
}

@media screen and (max-width: 780px) {
	.content-container {
		width:  100%;
		padding: 0 20px;
	}
}
