<!DOCTYPE html>
<html>
<head>
  <% include ../partials/startedheader.ejs %>
</head>

<body>

<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation"><a href="/cool">Cool test</a></li>
    <li role="presentation"><a href="/times">Times</a></li>
    <li role="presentation"><a href="/base">Base</a></li>
  </ul>
</div>


</body>
</html>
