/* =============================================================================
  Reset
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  color: $basecolor;
  background: #fff;
}

/* =============================================================================
  Default
============================================================================= */

.main{
  @include main;
}
